{{ define "main" }}
<article>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
        <div>
        {{- if isset .Params "date" -}}
            {{ if eq .Lastmod .Date }}
                <time>{{ .Date | time.Format (i18n "post.created") }}</time>
            {{ else }}
                <time>{{ .Lastmod | time.Format (i18n "post.updated") }}</time>
            {{ end }}
        {{- end -}}
        </div>
    </header>
    {{- .Content -}}
</article>
{{ with .Site.RegularPages.Prev . }}
<div><small>{{ i18n "post.prev" }}: <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></small></div>
{{ end }}
{{ with .Site.RegularPages.Next . }}
<div><small>{{ i18n "post.next" }}: <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></small></div>
{{ end }}
{{ end }}
